<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <h3>Posts</h3>
        <app-post-list-component *ngFor="let post of posts"
          [postDate]="post.created_at"
          [postTitle]="post.title"
          [postContent]="post.content"
          [postLoveits]="post.loveits"
        ></app-post-list-component>
      </ul>
    </div>
  </div>
</div>