<li [ngClass]="{
  'list-group-item': true,
  'list-group-item-success': postLoveits > 0,
  'list-group-item-danger': postLoveits < 0 }">
  <div class="text-right" style="font-size: 0.8em; color: #6e6e6e">{{ postDate | date:'MM/d/y, h:mm:ss a' }}</div>
  <h4>{{ postTitle }}</h4>
  <p>{{ postContent }}</p>
  <div>
    <button class="btn btn-success" (click)="vote(1)">Love it</button>
    <button class="btn btn-danger" (click)="vote(-1)">Don't love it</button>
  </div>
</li>